@import (reference) "./palette.less";

.bajaux-widget .dbMaintenance {
  background-color: @bg-color-ad;

  label,
  span {
    color: @fg-color-ad;
  }

  button span {
    color: initial;
  }

  select {
    background-color: @fg-color-ad;
  }

  .tableContainer .alarmTable tr {
    background-color: @bg-color-ad;

    td,
    span {
      color: @fg-color-ad;
    }
  }
}
