@import (reference) './mixins.less';

@fonts-path: '/module/themeBtib/fonts/';

.font-family() {
  font-family: SourceSansPro, sans-serif;
}

.font-size(@val) {
  font-size: ~"@{val}px";
}

.default-font() {
  .font-family;
  font-size:16px;
}

@font-face {
  .font-face('SourceSansPro', @fonts-path, 'SourceSansPro-Regular');
}
@font-face {
  .font-face('SourceSansPro', @fonts-path, 'SourceSansPro-Semibold', bold);
}
@font-face {
  .font-face('SourceSansPro', @fonts-path, 'SourceSansPro-Light', 100);
}

.defaultNssFont() {
  .font-family();
  font-size: 12px;
}
