@import (reference) "./mixins.less";

@fonts-path: "/module/themeActiveDark/fonts/";

.font-family() {
  font-family: SourceSansPro, sans-serif;
}

.font-size(@val) {
  font-size: ~"@{val}px";
}

.default-font() {
  .font-family;
  font-size: 16px;
}

/** SourceSansPro **/
@font-face {
  .font-face("SourceSansPro", @fonts-path, "SourceSansPro-Regular");
}
@font-face {
  .font-face("SourceSansPro", @fonts-path, "SourceSansPro-Semibold", bold);
}
@font-face {
  .font-face("SourceSansPro", @fonts-path, "SourceSansPro-Light", 100);
}

/** RobotoSlab **/
// @TODO: enable when extension font.otf.woff is in the module
// @font-face {
//   .font-face('RobotoSlab', @fonts-path, 'RobotoSlab-Regular');
// }
// @font-face {
//   .font-face('RobotoSlab', @fonts-path, 'RobotoSlab-Bold', bold);
// }
// @font-face {
//   .font-face('RobotoSlab', @fonts-path, 'RobotoSlab-Light', 300);
// }
// @font-face {
//   .font-face('RobotoSlab', @fonts-path, 'RobotoSlab-Thin', 100);
// }

.defaultNssFont() {
  .font-family();
  font-size: 12px;
}
