@import (reference) "./palette.less";

.bajaux-widget .LiveChartView {
  background-color: @bg-color-ad;

  rect.highcharts-background {
    fill: @bg-color-ad;
  }

  .highcharts-axis-labels,
  .highcharts-legend-item.highcharts-line-series {
    text {
      color: @fg-color-ad !important;
      fill: @fg-color-ad !important;
    }
  }
}
